html{
    overflow: auto;
    box-sizing: border-box; }
:root{
--primary-brand:#4d5ae5;
--dark: #2e2f42;
--text: #434455;
--subtletext: #8e8f99;
--accent: #e7e9fc;
--light: #f4f4fc;
--ftr: #31d0aa;
--ocean: #404bbf;
--transition: 250ms cubic-bezier(0.4,0,0.2,1);
--main-font: Roboto, sens-serif;
--secondary-font: Raleway, sens-serif;
}
body{
    font-family: var(--main-font);
   color: var(--text);
   background-color: #ffffff;
   font-size: 16px;
   letter-spacing: 0.02em;
   margin: 0;
}
.ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
     list-style:none;
}
.li-image{
    flex-basis: calc((100%-20px)/3);
}
.link-menu{
font-family: Roboto;
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
text-decoration: none;
}
.link-menu:hover,
.link-menu:focus{
    color: #404BBF;
}
.link-contacts{
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
    font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}
.link-contacts:focus,
.link-contacts:hover{
    color: #404BBF;
}
.link-logo1{
    margin-right: 76px;
    font-family: raleway;
    color: #2E2F42;
    text-transform: uppercase;
       font-size: 18px;
font-weight: 800px;
text-decoration: none;
}
.link-logo2{
    color: #F4F4FD;
    text-transform: uppercase;
    font-size: 18px;
font-weight: 800;
text-decoration: none;
font-family: Roboto;
}
.span{
    color: #4D5AE5;
}
.filter-button{
    font-size: 16px;
    line-height: 1.2;
    background-color: rgb(244, 244, 253);
    color: rgb(77, 90, 229);
    font-weight: 500;
    border: 1px solid;
}
.filter-button:hover,
.filter-button:focus {
background-color:  rgb(64,75,191);
cursor: pointer;
color:white;
}
.button0 {
    font-family: inherit;
width: 169px;
height: 56px;
background-color: rgb(77, 90, 229);
color:rgb(244, 244, 253);
display: block;
  margin: 0 auto;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.buttonmenu {
  padding: 12px 24px 12px;
  outline: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.footer-text{
width: 264px;
color: #F4F4FD;
font-size: 16px;
line-height: 1.5; 
}
.main-title{
color: var(--white, #FFF);
font-size: 56px;
font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: var(--navy-blue);
   margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}
.section-team {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
text-transform: capitalize;

}
.section-title {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.72px;
text-transform: capitalize;
padding-bottom: 120px;
}

.future-title {
   color: rgb(46,47,66);
   font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    display: flex;
  flex-direction: row;
}
 .future-text {
    color: rgb(67,68,85);
    font-size: 16px;
    line-height: 1.5;  
    width: 360px;
}
.section-order{
    text-align: center;
   background: var(--navyblue, #2E2F42); 
   width: 1440px;
height: 600px;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-section{
     background: var(--navyblue, #2E2F42); 
}
.team{
    background: var(--cloud, #F4F4FD);
width: 1440px;
height: 732px;
flex-shrink: 0;
margin: 0;
}

.container {
  max-width: 1158px;
  margin-inline: 0 auto;
  padding-inline: 0 15px;
}
.team-style{
    background-color: white;
    display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 72px;
margin-bottom: 120px;
}

.section{
    padding-block: 120px;
    margin-right: 0;
    justify-content: center;
align-items: center;
}

.our-values{
       display: inline-flex;
  flex-direction: row;
 gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
    justify-content: space-between;
    margin-right:0;
}

.our-values > li> h3{
    font-size: 32px;
    font-weight: 600px;
}
.goals li {
  width: calc((100% - 72px) / 4);
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}
.header-wrapper{
    justify-content: space-between;
      display: flex;
  justify-content: baseline;
  border-bottom: 1px solid var(--cornflower);
}
.header-wrapper > nav{
    display: flex;
    gap: 2em;
}
.header-wrapper > nav> address{
    display: flex;
    gap: 1em;
    list-style-type: none;}

.section-what{
      justify-content: space-between;
}

img{ display: block;}

ul, h1,h2,h3, p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;}

.address{
    display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.flex-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.example-style{
     padding: 32px 16px 32px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

