html {
  overflow: auto;
  box-sizing: border-box;
}

:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtletext: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fc;
  --ftr: #31d0aa;
  --ocean: #404bbf;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: Roboto, sens-serif;
  --secondary-font: Raleway, sens-serif;
  
}
body {
  font-family: var(--main-font);
  color: var(--text);
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  width: 1440px;
   margin: auto;
}
h1, h2, h3, p {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  /* color: inherit; */
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 24px 0;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

                                /* start header section */


.link-menu {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.link-menu:hover,
.link-menu:focus {
  color: var(--ocean, #404BBF);
  transition: var(--transition);
}

.isactive .current{
  position: relative;
  color: #404bbf;
}

.isactive .current::after{
content: '';
position: absolute;
bottom: -28px;
left: 0;
width: 100%;
height: 4px;
background-color: var(--ocean);
border-radius: 2px;
}

.link-contacts {
  color: #2e2f42;
  font-style: normal;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link-contacts:focus,
.link-contacts:hover {
  color: #404bbf;
    transition:  var(--transition);

}
.link-logo1 {
  margin-right: 76px;
  font-family: raleway;
  color: #2e2f42;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}
.span {
  color: #4d5ae5;
}

.page-header {
  border-bottom: 1px solid var(--light);
}
.header-wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header-wrapper > nav {
  display: flex;
  align-items: center;
}

.header-wrapper > nav > address {
  display: flex;
  gap: 40px;
  list-style: none;
}

.address {
  display: flex;
  gap: 40px;
  margin-left: auto;
  justify-content: flex-end;
}

/* start hero section */

.filter-button {
  font-size: 16px;
  line-height: 1.2;
  background-color: rgb(244, 244, 253);
  color: rgb(77, 90, 229);
  font-weight: 500;
  align-items: center;
}

.filter-button:hover,
.filter-button:focus {
  background-color: rgb(64, 75, 191);
  cursor: pointer;
  color: white;
    transition:  var(--transition);

}

.button0 {
  font-family: inherit;
  width: 169px;
  height: 56px;
  background: rgb(77, 90, 229);
  color: rgb(244, 244, 253);
  display: inline-flex;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  border: none;
}

.section-order {
  text-align: center;
  background: var(--navyblue, #2e2f42);
  padding: 188px 0;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-position:center;
    margin: 0 auto;
  background-image: linear-gradient(hsl(0 0% 0% / 0.5), hsl(0 0% 0% / 0.5)),
    url(https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1693180800&Signature=fOhHy996E9YhM7gZHUyqTrEHwhhlQPqwAY8ONBnjdlUO7ZMVLRp5N7mtRts6O1JANyuj5K0aj9Hoa2Dn8cMvps9D2CZuaNWPQcAVzKTiiTaPTulN0RK8tAWrzFPvfMbvxdTrluSsqUe6nEl7p-~cmjHxGh8SM-X~GWadjEE0lWHU7nmAM8D5Z3LLN~9wFH8RJMboPq1WNuPZjFkipmkcBr7NDz4ppZAUdu-wtygNjJ~b25Z3OWwhxouKo9NMhul0Byzfj8Y7NM5MgCwQz88MuqyHrunv-cDjiDs00-ocXimdgVCcqoiSmracjp8KnBEigrpSTpvLPspazQRrPjTXqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
}

.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  background: var(--navy-blue);
  text-align: center;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  width: 496px;
}

/* start our values section */

.future-style {
  display: block;
  height: 104px;
}
.our-values {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0px;
}

.our-values > li > h3 {
  font-size: 32px;
  font-weight: 600px;
}

.goals li {
  width: calc((100% - 72px) / 4);
}
.future-title {
  color: rgb(46, 47, 66);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  padding-top: 32px;
}
.future-text {
  color: rgb(67, 68, 85);
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}
.bg-icon {
  background: var(--cloud, #f4f4fd);
}
.icon-values {
  display: block;
  padding: 24px 100px;
}

/* start what doing section */

.section-what {
  justify-content: space-between;
}
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 120px;
}

/* start TEAM section */

.section-team {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.filters-team{
  gap: 24px;
}
.team {
  background: var(--cloud, #f4f4fd);
}

.team-style {
  background-color: white;
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.icon-team {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris, #4d5ae5);
  width: 40px;
   height: 40px;
}

.icon-team:hover,
.icon-team:focus,
.icon-team:active {
  cursor: pointer;
  background-color: var(--ocean, #404bbf);
    transition:  var(--transition);

}
.icon-team-style {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.p {
  padding-bottom: 8px;
}
.list-icons{
  display:flex;
  gap: 24px;
}

/* start Customers section */

.section-customer {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customer-style {
  border-radius: 4px;
  border: 2px solid #8e8f99;
  width: 168px;
  height: 88px; 
   display: inline-flex;
  justify-content: center;
  align-items: center; 
    fill: var(--subtletext, #8e8f99);
}
.icon-customer{
  width: 104px;
height: 56px;
}

.customer-style:focus,
.customer-style:hover{
border-color: var(--ocean);
fill: var(--ocean);
cursor: pointer;
  transition:  var(--transition);
}

.clients-style{
    display: flex;
  justify-content: center;
  gap: 24px;
}

                               /*start page 2 section Button*/
.buttonmenu {
  padding: 12px 24px 12px;
  outline: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.buttonmenu:hover,
.buttonmenu:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
      transition:  var(--transition);
}

.menu-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
/*start Portfolio section*/

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 120px;
}

.li-image{
  display:flex; 
  flex-direction: column; 
}
.li-image:hover,
.li-image:focus {
  cursor: pointer;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
      transition:  var(--transition);
}

.example-style {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--light);
  border-top: none;
}
.portfolio-title {
  color: rgb(46, 47, 66);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}
.portfolio-text {
  color: rgb(67, 68, 85);
  font-size: 16px;
  line-height: 1.5;
}

/* start footer section */

.link-logo2 {
  color: #f4f4fd;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  font-family: Raleway;
  flex-direction: column;
  justify-content: center;
  margin-left: 156px;
  margin-top: 100px;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 16px;
  margin-left: 156px;
}
.footer-section {
  background: var(--navyblue, #2e2f42);
  height: 312px;
  padding-top: 100px;
  display: flex;
}
.icon-footer {
  border-radius: 50%;
  background-color: var(--iris, #4d5ae5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;  
}
.icon-footer:hover,
.icon-footer:focus {
  cursor: pointer;
  background-color: #31d0aa;
  transition:  var(--transition);
}
.footer-media-text{
color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.32px;
padding-bottom: 16px;
}
.footer-media{
  margin-left: 120px;
}

.footer-style{
  display:flex; 
  gap: 16px;
}
.a-icon{
  display: flex;
}
 

/*okienko*/

.box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: var(--iris, #4D5AE5);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.li-image:hover .overlay {
  transform: translatey(0);
    transition: var(--transition);
    position: absolute;
}

.overlay p {
  color:  var(--cloud, #F4F4FD);
  padding: 10px;
  margin: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
width: 296px;
padding: 40px 32px 164px 32px;
}

/*newsletter */

.subscribe{
  padding-left: 96px;
  margin-right: 159px;
color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}

.filter-subscribe{
  width: 264px;
height: 40px;
border-radius: 4px;
border: 1px solid var(--white, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
color: var(--white, #FFF);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.48px;
outline: none;
}

.subscribe-button{
  display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 4px;
background: var(--iris, #4D5AE5);
color: var(--white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.64px;
}

input, textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none;
}


/*formularz*/

.modal {
	position: fixed;
  width: 100%;
  height: 100%;
	inset: 0;
	background-color: rgb(0 0 0 / 0.5);
	opacity: 1;
	pointer-events: all;
	visibility: visible;
	transition: opacity 250ms;
}

.modal-body {
	position: absolute;
width:408px;
height: 584px;
	background-color: #fff;
	transition: scale 250ms;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
padding-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close {
	position: absolute;
width: 24px;
height: 24px;
border-radius: 50%;
top: 24px;
right: 24px;
}
.modal-close:hover{
  background-color: var(--ocean, #404BBF);
  color: #fff;
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.is-hidden .modal-body {
	scale: 0;
}

.modal:not(.is-hidden) .modal-body {
	scale: 1;
}

.form-head{
  color: var(--navyblue, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
margin-bottom: 16px;
}

.modal-button{
color: var(--white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.64px;
gap: 10px;
border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 169px;
height: 56px;
padding: 16px 32px;
display: block;
margin-left: auto;
margin-right: auto;
}

.input:not([type="checkbox"]) {
	border: none;
}
.input-wrapper{
display: flex;
position: relative;
border: 1px solid gray;
border-radius: 4px;
height: 40px;
padding-left: 30px;
}
.input-wrapper > input {
	flex-grow: 1;}

.input-wrapper:focus-within  {
  border-radius: 4px;
border: 1px solid #4D5AE5;
}
 .input:focus {
	outline: #4D5AE5;
}
.input-wrapper:focus .icon-form {
	color: #4D5AE5;
}
.icon-form{
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
}

.filter-policy{
  color: var(--lightslate, #8E8F99);
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px; 
letter-spacing: 0.48px;
padding-top: 16px;
}
.link-policy{
  color: var(--iris, #4D5AE5);
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.48px;
text-decoration-line: underline;
}
.filter-comment{
  display: flex;
width: 360px;
height: 120px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border-radius: 4px;
border: 1px solid gray;
outline: none;
}
.filter-comment:focus{
	border-color: #4D5AE5;
}
.label-active{
  padding-top: 8px;
  color: var(--lightslate, #8E8F99);
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px; 
letter-spacing: 0.48px;
padding-left: 16px;
}


